[2017-11-07 12:42] mjsteinbaugh opened #1 "call `dbDisconnect()` warning"
Occasionally when using AnnotationHub I get this warning following a database query:

[code]

I noticed that this is popping up in some of the Bioconductor documentation pages as well – [Google search](https://www.google.com/search?client=safari&rls=en&ei=tKkBWqP8E4bBmwH4gIyADg&q=call+dbDisconnect%28%29+site%3Abioconductor.org&oq=call+dbDisconnect). Is there a way to either suppress or fix this wa

[2017-11-07 13:19] lshep commented on #1
I will look into this. The next time this occurs could you please post your command history.

[2017-11-07 15:30] mjsteinbaugh commented on #1
Sure! I will add a minimal example needed to reproduce this when I get a chance. Thanks.

[2017-12-03 19:43] lawremi opened #2 "Shiny dependency"
Would there be any way to move interactiveDisplayBase to a Suggests? Installing shiny and all of its deps seems like overkill just to access an annotation web service.

[2017-12-08 11:36] Roleren commented on #1
I have the same thing, loading the example gtf from GenomicFeatures, which uses AnnotationDbi. My package gives the same warning, and removing the txdb object does not help.

[2017-12-08 18:55] mtmorgan commented on #1
@Roleren Actually, this doesn't reproduce for me -- what does your sessionInfo() say?

[2017-12-08 20:27] Roleren commented on #1
hm, when I restarted session and tried again, it did not reproduce, will try to make one that actually reproduces..

[2017-12-09 12:52] mjsteinbaugh commented on #1
@mtmorgan Yeah that's similar to what's happening for me. I don't get the `dbDisconnect()` warning consistently, so this is hard to reproduce exactly.

[2017-12-09 23:05] mtmorgan commented on #1
[code]
throws the 'warning' (in quotes because it doesn't seem to be a real warning, https://github.com/r-dbi/RSQLite/issues/245 ) consistently.

I've updated AnnotationDbi v. 1.41.4 (i.e., the 'devel' version) so that it closes any connections left open; to avoid the error in GenomicFeatures, you need to update GenomicFeatures (to 1.31.1). These are both available now from their Bioconductor (and

[2017-12-09 23:05] #1 closed

[2017-12-11 13:20] lshep commented on #2
After discussion with the team we feel it should stay in Imports.  It is part of the featured functionality and there are many other users that use this feature and have asked for this feature specifically.  This is something we will reevaluate and keep in mind when developing a newer version of AH.

[2017-12-11 13:20] #2 closed

[2017-12-11 13:32] lawremi commented on #2
Why can't it just be in Suggests? The functionality will still work, it just has to load Shiny conditionally. I currently can't get Shiny to install on my Mac, which means I can't install ggbio to maintain it.

[2017-12-11 14:08] mtmorgan commented on #2
the main function is a method on `display()`, which is a generic in interactiveDisplayBase, so cannot be exported from AnnotationHub without importing interactiveDisplayBase. Also, a common comment about AnnotationHub is the desire to have more visually-oriented navigation, so it seems like the next iteration of the hubs will increase rather than decrease reliance on shiny.

Not that this is the a

[2017-12-11 14:33] lawremi commented on #2
I guess that generic should be move somewhere, even independently of shiny.

I'll have to put some more hours into figuring out the shiny issue. It's failing to compile httpuv after I installed the custom clang 4.0.0 provided by CRAN to make rJava work (the -fopenmp issue). ggbio just has too many dependencies. The ensembldb integration was particularly costly. Somehow (not sure how) it forces me

[2017-12-13 00:42] hpages commented on #2
Note that it's GenomicFeatures (which ggbio depends on) that requires RMySQL/MySQL. This is new in BioC 3.6 where `makeTxDbFromEnsembl()` was introduced for making a TxDb directly from the Ensembl MySQL server. Much faster and reliable than `makeTxDbFromBiomart()`. We'll slowly move away from biomaRt for making TxDb objects.

[2017-12-13 02:39] lawremi commented on #2
Can we embed the mysql client source? Introducing a MySQL system dep for GenomicFeatures would be bad. Have you guys considered the Ensembl REST endpoint?

[2017-12-13 05:35] hpages commented on #2
Dependency on RMySQL was introduced in GenomicFeatures only a few days before the 3.6 release as a response to last minute report of the BioMart service being broken (https://stat.ethz.ch/pipermail/bioc-devel/2017-October/012215.html). I believe the RMySQL Windows and Mac binaries distributed by CRAN are statically linked to the MySQL client. On Linux the mysql client is super easy to install. So

[2017-12-13 05:47] lawremi commented on #2
CRAN does not provide Mac binaries for R-devel, so developers will need to install MySQL manually.

[2017-12-13 06:15] hpages commented on #2
Right, no Mac binaries for now but hopefully it's just a temporary situation. And it's a situation that happens only every other devel cycle. Installing MySQL on Mac is not too hard and should not be a problem for developers (we do it on the Mac builders just for EnsemblVEP). On Windows, I don't know, we don't install MySQL on the Windows builders (EnsemblVEP is not supported on this platform). Bu

[2018-05-07 15:55] wresch opened #4 "curl::has_internet and proxies"
We use a proxy for internet access and set environment variables http_proxy and https_proxy. That works for curl and httr to fetch data without any errors (e.g. `httr::GET('https://www.google.com')` returns a 200 OK). However, `curl::has_internet()` here

https://github.com/Bioconductor/AnnotationHub/blob/c5c464e21b5203eb0eed9ceb5252cd948eae8fe5/R/AnnotationHub-class.R#L20

still returns `FALSE` b

[2018-05-07 15:59] lshep commented on #4
Thank you for bringing this to our attention. I'll look into this.

[2018-05-07 16:06] wresch commented on #4
4 minutes? Fastest response ever! Thanks a bunch for looking into it. Nice package, btw. Thanks for writing/maintaining it.

[2018-05-09 18:37] #4 closed

[2018-05-10 11:18] lshep commented on #4
@wresch  If you don't mind -  could you keep an eye on the open github issue and post your findings -  I don't have a proxy environment set up so you would have the best most honest feedback and it would be great to have this remedied -
https://github.com/jeroen/curl/issues/153

[2018-05-12 13:13] wresch commented on #4
Installed master - works! Thank you very much.

[code]

[2019-04-09 19:54] Indigofera opened #5 "AnnotationHub()"
Hi,

When I try "hub <- AnnotationHub()"
 I got this error:
" Error: failed to connect to local data base
 database: ‘/Users/anil/.AnnotationHub/annotationhub.sqlite3’
 reason: object 'isDevel' not found"

Could you help me?

[2019-04-09 20:43] mtmorgan commented on #5
Please verify that your installation is 'valid' with

    BiocManager::valid()

[2019-04-10 13:36] Indigofera commented on #5
It is TRUE

[2019-04-10 13:40] lshep commented on #5
Could you please show the full output from the commands:
[code]

[2019-04-10 13:49] Indigofera commented on #5
[1] TRUE

R version 3.5.0 (2018-04-23)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS  10.14

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF

[2019-04-11 12:28] lshep commented on #5
We are still looking into this.  I'm having trouble reproducing it.   Could you try re-installing BiocManager and AnnotationHub  and if you get an error provide the traceback()

[code]

[2019-04-11 14:06] Indigofera commented on #5
traceback()
8: stop("failed to connect to local data base", "\n  database: ",
       sQuote(path), "\n  reason: ", conditionMessage(err), call. = FALSE)
7: value[[3L]](cond)
6: tryCatchOne(expr, names, parentenv, handlers[[1L]])
5: tryCatchList(expr, classes, parentenv, handlers)
4: tryCatch({
       uid <- .uid0(path, .date)
       sort(uid)
   }, error = function(err) {
       stop("failed to co

[2019-04-11 19:29] lshep commented on #5
Sorry for the back and forth, we can't reproduce this so we are trying to work with you.
Can you please show the results of
[code]

[2019-04-11 20:21] Indigofera commented on #5
I restarted R again. Problem is solved. Now, there is no error. Thanks for your help!

[2019-04-12 11:58] #5 closed

[2019-07-23 07:52] kokitsuyuzaki opened #9 "Invertebrate Ensembl ID"
Hi,

Nice package!
Thanks for this package,
I could remove the dependency of biomaRt,
which is slow and unstable.

By the way, I found that when the species is not vertebrate,
Ensembl ID cannot be retrieved from AnnotationHub.

For example, when OrgDb is about Homo sapiens,
columns function returns "ENSEMBL", "ENSEMBLPROT", "ENSEMBLTRANS".

[code]

However, when the species is not vertebrate,
"ENS

[2019-07-30 17:24] lshep commented on #9
I believe this is the case but I don't actually generate the data files that are included in the Hub.  Perhaps @dvantwisk  or  @abelew could confirm.

[2019-07-30 18:49] abelew commented on #9
Greetings,

TLDR version first:
For a few of the examples you provide, if you ask explicitly for the ensembl-sourced data (elegans, cerevisiae, and pa01), then you may ask for the ensembl keytypes.  For the others, the source data does not have them, but does have ncbi-specific keytypes.

Here is the long version:
  In my own work, when dealing with Ensembl, I pretty much exclusively use biomaRt;

[2019-07-31 06:21] kokitsuyuzaki commented on #9
Ok, so you mean whether the Ensembl IDs can be retrieved is highly dependent on how the keywords are specified and if Ensembl IDs are actually not prepared in source data, I cannot get them, right?

There is one more question.
Recently, I found that the AnnotationHub ID (e.g. AH12345) cannot be unique if the R version is different.

For example, when R version is v-3.5.0,
OrgDb of Homo sapiens is

[2019-07-31 11:09] lshep commented on #9
orgDb we regenerate every release; so the most updated will have a new AH id -  we have a plan to reuse AH ids for different versions of the same file but it is not implemented yet so each 6 month or so there will be an updated object in the Hub.  The query then is safer if you do not want to updated  your AH id every release, I would probably add the title to the query as well if you know it  `qu

[2019-08-01 01:55] kokitsuyuzaki commented on #9
I learned a lot.
Thanks!

[2019-08-01 01:55] #9 closed

[2019-09-25 07:33] Ci-TJ commented on #5
@Indigofera

hub <- AnnotationHub()
No internet connection using 'localHub=TRUE'
Error in .updateHubDB(hub_bfc, .class, url, proxy, localHub) :
  Invalid Cache: sqlite file
  Hub has not been added to cache
  Run again with 'localHub=FALSE'

Hi!
I got the same error, but it didn't work after I restarted the R-3.6.1 .
Could you tell me how you solve it in detail?

[2019-09-25 11:25] lshep commented on #5
This ERROR is different from your original.  It appears to indicate you don't have internet connection, hence the `No internet connection using 'localHub=TRUE'` .  Is this the same computer you were using before or a different one?  The `Invalid Cache: sqlite file`  general indicates that the hub had not been downloaded yet?   [Troubleshooting document](https://github.com/Bioconductor/AnnotationHu

[2019-09-27 03:52] Ci-TJ commented on #5
@lshep
Thank you for your reply!
I'm trying to deal with it, and I found i can use the AnnotationHub in a new PC or conneting a new network. Maybe,  I need to find the detail reason!

[2019-09-27 11:14] lshep commented on #5
Any additional information is helpful -  If it is a bug on our end we would obviously like to remedy it as well so that you never have to run into this again.  Just harder to diagnosis as we currently can not reproduce it.

[2019-10-14 21:11] MattBrauer opened #10 "AnnotationHub::display() giving incorrect output"
Running on up-to-date installation:

[code]
Results in pop-up with error:
[code]
and the table displayed is completely garbled:
![ah_display](https://user-images.githubusercontent.com/1594318/66783191-490e0b00-ee8c-11e9-9c81-8c45983c4987.jpg)

[code]

[2019-10-15 12:18] lshep commented on #10
Thank you for bringing this to our attention.  I am able to reproduce and I will look into the issue to see if it is directly in annotationhub or the underlying dependency.

In the meantime you might also try querying through the web app:
https://annotationhub.bioconductor.org/

[2019-10-15 19:54] lshep commented on #10
It seems like this is an underlying problem with InteractiveDisplayBase as it is reproducible also with their example
`interactiveDisplayBase::display(mtcars)`   I will send an issue to the interactiveDisplayBase package maintainers.

[2019-10-21 04:47] Ci-TJ commented on #5
@lshep
Hi! I found AnnotationHub is available on all my computer, but I didn't change any setting..
Did you fix some bugs? I hope the failure will not come back again.

[2019-10-21 12:00] lshep commented on #5
We made some minor edits but nothing that should have affected it.  I'm glad its working.  If it starts to happen again please provide as much additional information you can.

[2019-10-27 22:44] mtmorgan opened #11 "Accessing a resource with a snapshotDate() before it was available gives a cryptic error"
In the current 'devel' version of AnnotationHub, record "AH75194" exists
[code]
but trying to access it from a snapshotDate() before it was available gives a cryptic message
[code]
Also, I'm not sure why we're told `downloading 0 resources` or the internal information `AH75194 : 81940`, which makes it hard to know, from the return object, what the original, user-facing, AH id was (i.e., the name s

[2019-10-27 23:53] lshep commented on #11
I thought I got rid of the id information so I'll check on that implementation.

We do display the download information but maybe if it doesn't download anything we should change the message.

I don't think I ever tested trying to download a resource that is added after a snapshot date. I'll look into this. Thanks for reporting it.

Get Outlook for Android<https://aka.ms/ghei36>

_________________

[2019-11-01 15:28] #11 closed

[2020-02-27 02:40] hpages opened #12 "Hard time troubleshooting a "Corrupt Cache" issue"
Well, troubleshooting is not supposed to be fun anyway. However I think in this case it could be made a little bit easier. First I have to say that once I was able to figure out what documentation exactly I had to look at, the documentation was very helpful and it allowed me to quickly fix my cache corruption problem. So thanks for the great documentation!

The issue I was troubleshooting is the f

[2020-03-01 05:43] BJWiley233 commented on #10
Hi,

Getting same issue.  Any update on this?

Brian

[2020-03-02 13:30] lshep commented on #10
Again -  This is not an issue with AnnotationHub ,  it is actually stemming from the `interactiveDisplayBase` package -   I have reached out to the maintainers and they have been unresponsive.  I suggest also reaching out to the InteractiveDisplayBase maintainer too.   Once the issue is fixed in that package I would assume it would clear up in AnnotationHub.   This ERROR occurs with their example

[2020-03-02 13:33] lshep commented on #10
In the meantime  there is a user interface at  https://annotationhub.bioconductor.org  ;  it is not quite as convenient as doing it directly in R and having the shiny app but a temporary solution until the underlying functionality is fixed.

[2020-03-17 06:41] Ci-TJ opened #13 "EnsDb.Hsapiens.v99"
Hi. I want to use EnsDb.Hsapiens.v99 for annotation, but I found it was not available.

`> query(ah,"EnsDb.Hsapiens.v99")

AnnotationHub with 0 records
 snapshotDate(): 2019-05-02`

Best,
Ci

[2020-03-17 11:34] mtmorgan commented on #13
Try `> query(hub, c("EnsDb", "sapiens", "99"))` to discover the resource.

[2020-03-18 05:03] Ci-TJ commented on #13
@mtmorgan
Hello,
[code]

What's wrong with it?

[2020-03-18 11:51] mtmorgan commented on #13
[code]
indicates that you are using an old release of Bioconductor; you only have access to resources that were added before that release. Confirm this by looking at `BiocManager::version()`. The current release is version 3.10
[code]
See http://bioconductor.org/install/#update-bioconductor-packages for updating your Bioconductor installation, using `BiocManager::install(version = "3.10")`

[2020-03-18 12:23] FelixErnst commented on #13
I guess it is just a typo.

Try ` query(hub, c("EnsDb", "Hsapiens", "99"))` (The `H` before `sapiens` was missing)

[2020-03-18 12:47] mtmorgan commented on #13
@FelixErnst `query()` is flexible, allowing partial matching, so `Hsapiens`, `sapiens`, even `apiens` or an appropriate regular expression would work. I chose `sapiens` because I wasn't sure whether the record would be 'Hsapiens' or 'Homo sapiens' or 'H. sapiens' or ...

[2020-03-18 13:04] Ci-TJ commented on #13
[code]
It didn't work.

[2020-03-18 14:47] mtmorgan commented on #13
Did you update your R, as indicated in this https://github.com/Bioconductor/AnnotationHub/issues/13#issuecomment-600578757

[2020-03-19 13:03] lshep commented on #13
@mtmorgan  Is correct  @Ci-TJ   You would have to update to use Bioconductor 3.10 in order to see the latest EnsDb 99 annotation released.  The version 98 is the latest supported version for your version of Bioconductor / R.  Please see the comment about on how to update.

[2020-03-20 09:31] Ci-TJ commented on #13
@mtmorgan @FelixErnst @lshep
Sorry for reply so late.

Firstly, I did it in R-3.6.1
[code]
I solved the problem about release 99 for human, but I found I coundn't get old release versions. That's not a good imformation.

So, I tried in R-3.6.3.

[code]
Now, all were solved. I hope that will be good example for other users. By the way, after using the R-3.6.3, I found it was slow for downloading th

[2020-03-20 11:57] #13 closed

[2020-04-27 11:18] sk-sahu opened #14 "Failed compilation with R-3.5.1"
Error:

[code]

sessioninfo()
[code]

[2020-04-27 12:32] lshep commented on #14
Could you please show the command you used when getting this ERROR and the complete output?

[2020-04-27 13:38] mtmorgan commented on #14
This is a conda installation using an old R; a first step would be to use a current R and to ensure that you are following conda best practices, including installing packages via conda and not standard Bioconductor approaches. For help here, it would be very helpful to reproduce the problem on a non-conda installation.

[2020-04-30 21:11] sk-sahu commented on #14
Thank you for your replies.

Sorry for the incomplete error and no reproducing example. The complete output message was too lengthy to print out here.

Anyways, It solved with updating R version to latest one.

[2020-04-30 21:11] #14 closed

[2020-05-14 12:13] guisantagui commented on #9
Hi, I saw above that when you do
query(ah, c("OrgDb", "Pseudomonas aeruginosa PAO1"))
or
query(ah, c("OrgDb", "Pseudomonas aeruginosa"))
You get some hits. I am getting none. I'm trying to do a functional enrichent with enrichGO of some differential gene expression analysis I did with DESeq2 of P aeruginosa's genes, but since I can't find any OrgDb of Pseudomonas aeruginosa I'm kind of stuck. Do y

[2020-05-14 12:27] lshep commented on #9
OrgDB's are only valid for a given Bioconductor release.  I have yet to add the non-standard orgDbs into AnnotationHub for 3.11/3.12 .  I plan on working on this today/tomorrow.  Hopefully once they are added it will appear.  I will post back after the upload is complete.

For clarification and completeness:  can you include your `sessionInfo()` as well.

[2020-05-14 12:44] guisantagui commented on #9
Hi, here is my session info.
`sessionInfo()
R version 3.6.3 (2020-02-29)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 17134)

Matrix products: default

Random number generation:
 RNG:     Mersenne-Twister
 Normal:  Inversion
 Sample:  Rounding

locale:
[1] LC_COLLATE=Catalan_Spain.1252  LC_CTYPE=Catalan_Spain.1252    LC_MONETARY=Catalan_Spain.1252
[4] LC_NUMERIC=C

[2020-05-14 20:17] abelew commented on #9
Hello @guisantagui, there are a few workaround I think you may employ as well:
1.  You may create orgdb databases via AnnotationForge::makeOrgPackageFromNCBI()
  For example:
[code]
  At least on my computer (R 3.6.3) that provided an orgdb instance which is acceptable to clusterProfiler.

  2.  I think you may still feed clusterProfiler arbitrary dataframes of categories and genes via the enriche

[2020-05-15 11:35] lshep commented on #9
I agree with the above solution as well.  When we add non-standard orgDb's into AnnotationHub we only do a subsection of 1000 species so there is no guarantee that the species will remain in the hub.  The above function is what we use to generate the orgDbs we include and can be utilized for any organism on NCBI.

[2020-05-15 14:20] abelew commented on #9
But please don't trust the tax_id I used (287) because I just grabbed the first one I saw, it might not be right for the strain you are actually using.

[2020-05-27 13:24] Chloe-Girard commented on #10
Hello!
The problem still occurs for me. Any updates? Thanks for your help!
In the meantime, I've been using the web browser interface, but as noted, it's not as convenient :)

Thanks for your help!

[2020-05-27 18:50] LiNk-NY commented on #10
Hi Chloé @Chloe-Girard, Matt @MattBrauer, Brian @BJWiley233 ,

What is the main use of this function? I ask because I am reworking it and
I'd like to know what it is being used for.

Is it to select rows and get them back into an R session?

Are there any other features that you need from the package?

Thank you,
Marcel

[2020-05-27 19:28] Chloe-Girard commented on #10
Hello Marcel,
Yes, it would be to have a look at the different titles and see the different columns to make sure I'm selecting the right data sets. So mostly looking, being able to see what titles I'm querying (when <50-ish), and clicking is a bonus for me (I query anyway).

Let me know if this is useful,
Thanks!
Chloé

[2020-05-28 16:16] jmacdon opened #15 "Issue converting Ensembl GTFs"
In `AnnotationHub:::.tidyGRanges` the genome of a GTF is set by either using data from `GenomeInfoDb`, or by inferring from the `GRanges` itself. Previously for Ensembl GTF files, the latter is what happened, because `GenomeInfoDb` didn't support GRCh38.

[code]
But in the current version, GRCh38 is now supported but has different unplaced scaffolds than what we get from an Ensembl GTF, so when as

[2020-05-28 19:19] lshep commented on #15
See also conversation on community slacks biochub channel  https://community-bioc.slack.com/archives/CDSG30G66/p1590678484033900

[2020-05-29 17:34] hpages commented on #15
I'm looking into this

[2020-06-01 20:25] LiNk-NY commented on #10
Hi Chloé @Chloe-Girard and others, @MattBrauer @BJWiley233

I've sent a fix to Bioconductor. Let me know if you encounter any issues.
I tried to keep the changes minimal but simple to run. I reduced the shiny app
in complexity by updating it with the newer API. You can test drive if you download
from GitHub at `BiocManager::install("LiNk-NY/interactiveDisplayBase")` OR you
can wait until the chang

[2020-06-02 07:53] Chloe-Girard commented on #10
Thanks!
Will do :)

On Mon, Jun 1, 2020 at 10:26 PM Marcel Ramos <notifications@github.com>
wrote:

--
Chloé

[2020-06-02 11:46] lshep commented on #10
Thank you @LiNk-NY

[2020-06-02 14:44] Chloe-Girard commented on #10
So... still doesn't work in my hands.

What I did was:
using R studio with R version 4.0.0 (2020-04-24) -- "Arbor Day"
macOS Mojave Version 10.14.6

Then I tried to install your package

[...] #it installed the package
`
At the end, it prompted me to update some packages, and I got an error (not
finding Xcode...)

Do you want to install from sources the package which needs compilation?

Then I tri

[2020-06-03 17:19] hpages commented on #15
Sorry for the delay.

The GTF files for Ensembl Human are tagged with the incorrect genome:
[code]
The Ensembl release 100 is based on GRCh38.p13, not on GRCh38.

GRCh38.p13 introduces a bunch of new sequences w.r.t. GRCh38:
[code]
You can get more details about what kind of sequences are new in GRCh38.p13 with:
[code]
113 "fix-patch" and 72 "novel-patch" sequences.

So I guess tagging with the ri

[2020-06-03 18:16] hpages commented on #15
FWIW a few months ago I added an internal utility in GenomeInfoDb for fetching the _species index_ file for a given Ensembl release:
[code]
You can use this to lookup the assembly of a particular species, either by _species_ or by _taxonomy_ (by _name_ is not reliable):
[code]

`GenomeInfoDb:::fetch_species_index_from_Ensembl_FTP()` takes 2 arguments: the Ensembl release number (the latest release

[2020-06-04 16:52] lshep commented on #15
Not sure the best way to solve this --  Since this is done on the fly we didn't want to have to download or read the files so the metadata collected is based on the parse of the file name  "ftp://ftp.ensembl.org/pub/release-100/gtf/homo_sapiens/Homo_sapiens.GRCh38.100.gtf.gz"  which odesn't indicate the patched version

[2020-06-04 16:53] lshep commented on #15
I could simply manual change these four items in the database manually but I would think we could potential run into this issue in the future as well.   Is this only a concern for homo sapien or other species as well?

[2020-06-04 17:18] hpages commented on #15
Parsing the file name is definitely not reliable e.g. same problem with mouse (gives you GRCm38 instead of GRCm38.p6) and who knows how many other genomes.

The species index file gets updated at each release so seems more reliable. Also it's agnostic about the particular resource (GTF, GFF3, or other) which is another BIG advantage.

[2020-06-04 17:29] lshep commented on #15
But ... I guess I'm curious as to why this affects older builds --  The resource @jmacdon was looking at was added in 2016 and for release-83. so why is it now failing?
[code]

[2020-06-04 17:31] lshep commented on #15
I'll work on implementing the change to get the genome from `GenomeInfoDb:::fetch_species_index_from_Ensembl_FTP() `  but I guess I'm curious as to why all the old resources are broken

[2020-06-04 17:32] hpages commented on #15
Because `Seqinfo(genome="GRCh38")` now is supported (starting with BioC 3.11), as Jim pointed out.

[2020-06-04 18:11] hpages commented on #15
Also since you are on it, you'd really want to take a look at the inconsistent treatment between GTF and GFF3 resources (the former uses `.tidyGRanges` but not the latter). I can't think of any good reason why that would be.

[2020-06-04 18:24] lshep commented on #15
Yeah.  And actually tracing this code through for the resource listed --- it looks like the GTF on the fly actually use GRangesResource  rather than GTFFileResource which I wasn't expecting.

[2020-06-05 13:34] lshep commented on #10
This seems to be fixed in release Bioc 3.11 and devel Bioc 3.12.   Must use interactiveDisplayBase version  1.27.5 in devel  3.12   and  version 1.26.3 in release 3.11.  Cheers. Thanks @LiNk-NY

[2020-06-05 13:34] #10 closed

[2020-06-09 12:35] lshep commented on #15
Just as an update.  I'm looking into using herve's suggested function instead, updating the code for future and using it to update existing references.  Taking a bit of time as I want to make sure it is correct and I'm looking at how to do bulk updates to mysql database.
But work in progress...

[2020-06-11 14:17] lshep commented on #15
The function would be used when initially loading the data into the hub so it would have the correct data going in instead of being corrected later on.  So moving forward this shouldn't be an issue.  The problem is trying to fix the old ones which seems like it will need to be done in the .tidyGRanges  for the older releases of data.  I'm in the process of fixing the database entries for 96-100 wh

[2020-06-11 16:21] jmacdon commented on #15
I have two thoughts. First, it seems like you are putting something extra into the .rda that's loaded into the hub that will provide the genome data, for any Ensembl release > 95, right? And that will be specific to Ensembl GTF or GFF files? So when the GTF is read in, if those extra data are there, they get put into the genome column for the seqinfo?

And that means by definition if you have an E

[2020-06-12 18:08] lshep commented on #15
I've updated the current database for release 96-100 for genome and species if necessary.

The problem is the .tidyGRanges is used for other types of resources too.  And there are two different levels here:  there is making sure the right genome/species get put into the database in the first place and then there is the information that is returned after converting to a GRanges object and performin

[2020-06-12 20:35] hpages commented on #15
The NAs are introduced by this line (line 137, file `AnnotationHub/R/utilities.R`):
[code]
For example:
[code]
The fact that `GenomeInfoDb::seqlevels(gr)` contains sequence names not in `newSeqinfo` is an indication that the resource was tagged with the wrong genome. So before subsetting, check that all the seqlevels in `gr` are in `newSeqinfo`, and, if they are not, take the other route (the `is.

[2020-06-15 18:50] lshep commented on #15
@hpages  This check fails even with the newer annotations labelled with the "correct" genome:
 "GRCh38.p13".   My thought was to change 120 to ` if (is.null(newSeqinfo) || !all(GenomeInfoDb::seqlevels(gr) %in%  seqlevels(newSeqinfo))) {`  as that seems to be what you are recommending,  but then even the correct genome as identified by using your table
[code]
returns FALSE for `all(GenomeInfoDb::se

[2020-06-15 19:39] hpages commented on #15
Well, it looks like the Ensembl folks didn't like how the scaffolds are named in the official GRCh38.p13 assembly and decided to rename them by their GenBank accession:
[code]
which is a bummer but what can we do about it?

The "treat the _wrong newSeqinfo_ situation like the _no newSeqinfo at all_ situation" approach still stands.

Not that it makes much difference in the end but at least now thi

[2020-06-15 19:41] lshep commented on #15
Okay.  Seems like the one line change should  be sufficient.  I'll make the change and do a little more testing to be sure.

[2020-06-15 20:46] #15 closed

[2020-06-15 21:25] hpages commented on #15
Thanks Lori.

Correction: when I said "at least now this GTF resource is tagged with the correct genome", it's still not entirely true. It would be more accurate to say that now we tag it the same way as the Ensembl folks do, which is an improvement.

But whether that tag is the _correct genome_ is debatable and another story.

[2020-08-07 12:51] kokitsuyuzaki opened #16 "Using AnnotationHub with job schedular causes an error"
When using AnnotationHub in parallel with job schedular (OpenGridEngine and Slurm), whether a job can be calculated was stochastical and some jobs were failed with the error `attempt to write a readonly database`.

I don't know why but since some jobs can be calculated,
by performing the job queue, again and again, I could finally get the output.

As an alternative approach, by not using the job s

[2020-08-25 22:12] reliscu opened #17 "Cannot connect to AnnotationHub server"
First command:

[code]

Then:
[code]

Session info:

[code]

[2020-08-26 01:32] HenrikBengtsson opened #18 "Add BugReport: https://github.com/Bioconductor/AnnotationHub/issues (?)"
Just wanna suggest to add:
[code]
to make it easier to find this page.  The only info on <http://bioconductor.org/packages/release/bioc/html/AnnotationHub.html> is the maintainer email address.

[2020-08-26 01:34] HenrikBengtsson opened #19 "HELP: setHubOption() -> setAnnotationHubOption()"
The help page for `setAnnotationHubOption()` mentions `setHubOption()` which is non-existing:

https://github.com/Bioconductor/AnnotationHub/blob/1b70ad491373af7daa149540741d4f4e9f43428e/man/getAnnotationHubOption.Rd#L47

[2020-08-26 01:55] HenrikBengtsson opened #20 "AnnotationHub(): Server access test is too conservative (with suggestions)"
# Summary

We have HPC hosts that have working HTTP/HTTPS proxies, but no support for nslookup.  This causes `AnnotationHub()` to incorrectly believe it has no access to the server.  If the internal nslookup test could be skipped, then it would indeed have worked.

# Issue

[code]

# Troubleshooting

This is because `AnnotationHub::AnnotationHub` uses:
[code]
to test whether it can connect to that

[2020-08-26 03:26] reliscu commented on #17
The source of this issue is addressed here:

https://github.com/Bioconductor/AnnotationHub/issues/20

[2020-08-26 11:53] lshep commented on #17
Since there is a more detailed description and background in issue #20 I'm closing this issue to track there.   Are you behind a proxy that needed to be set?

[2020-08-26 11:53] #17 closed

[2020-08-26 12:02] lshep commented on #18
Description version Version: 2.21.4  in devel now includes the BugReports link.

[2020-08-26 12:02] #18 closed

[2020-08-26 12:05] #19 closed

[2020-08-26 14:00] HenrikBengtsson commented on #17
Sorry, I missed that @reliscu already posted about this problem. Yes, this should be on the same HPC environment that I describe in #20.

[2020-10-19 17:00] #20 closed

[2020-11-11 02:00] HenrikBengtsson commented on #20
Thanks for fixing this.  I'm confirming that this now works with the Bioc 3.12 release (Oct 2020) on the same system that previously failed;

[code]

cc/ @reliscu

[2020-11-20 08:54] JojoZhangxinye opened #21 "AnnotationHub() Error"
Hi,

When I try `hub <- AnnotationHub()`
I got this error:
` Error in UseMethod("filter_") : no applicable method for 'filter_' applied to an object of class "c('tbl_SQLiteConnection', 'tbl_dbi', 'tbl_sql', 'tbl_lazy', 'tbl')"
`
Could you help me?

Details
[code]

[2020-11-20 12:41] lshep commented on #21
This has been corrected in more recent versions of AnnotationHub and has to do with changes in the underlying dplyr method.  Is it possible to update your version of R to use the most recent version of the package?

[2020-11-20 13:37] JojoZhangxinye commented on #21
It works!Thanks!
Now the details:
[code]

[2020-11-20 13:38] lshep commented on #21
Good to hear. Thank you for your report.

[2020-11-20 13:38] #21 closed

[2021-01-15 01:35] hpages commented on #12
Today I ran into a "Corrupt Cache" problem again:
[code]
I would have struggled to find the "vignette section on corrupt cache" if I hadn't run into this issue before. As explained in my original report, when using **ExperimentHub** and getting an error message that tells me to consult the vignette, one cannot easily figure out that the vignette is actually in **AnnotationHub**. I would even say t

[2021-01-15 12:33] lshep commented on #12
Thanks.  sorry I've had this on my todo for awhile. I'll try and look at it next week.

[2021-01-23 05:52] CQgit opened #22 "ah <- AnnotationHub() ---error--- filter_() is deprecated as of dplyr 0.7.0"
run

`ah <- AnnotationHub()`

error

filter_() is deprecated as of dplyr 0.7.0
Error in UseMethod("filter_") : no applicable method for 'filter_' applied to an object of class "c('tbl_SQLiteConnection', 'tbl_dbi', 'tbl_sql', 'tbl_lazy', 'tbl')"

[2021-01-23 18:11] lshep commented on #22
What is your sessionInfo ? This Should be fixed in recent versions of Bioconductor. If you updated to a recent version the error should not persist

[2021-01-23 18:13] lshep commented on #22
See also this post on the support site https://support.bioconductor.org/p/p132709/#p133562

[2021-01-23 18:13] #22 closed

[2021-01-23 21:48] CQgit commented on #22
R version 3.6.3 (2020-02-29)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS  10.16

Matrix products: default
LAPACK: /Library/Frameworks/R.framework/Versions/3.6/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats4    parallel  stats     graphics  grDevices utils     datasets  methods   base

[2021-01-23 21:50] lshep commented on #22
Yes the recommendation is to upgrade your version of R and Bioconductor. Or look at the support site link for how to downgrade dplyr

[2021-01-23 21:50] CQgit commented on #22
[code]

[2021-01-23 21:51] CQgit commented on #22
Got it. Thanks a lot.

[2021-02-01 19:17] #12 closed

[2021-02-01 19:18] lshep commented on #12
I fixed #1 and #2 points but have not changed the dplyr context.  The rest of the vignettes and the underlying BiocFileCache utilizes the dplyr syntax and format.  This is consistent.

[2021-02-04 23:07] hpages commented on #12
Thanks.

[2021-04-25 09:33] RongrongZhao commented on #16
Hi, I met the same problem when using AnnotationHub in parallel. Have you solved this problem? Thanks.

[2021-05-11 09:55] Fred-White94 opened #23 "Poorly annotated plants"
I just wanted to point out that using clusterprofiler with OrgDb objects is not ideal for less well annotated species. This is the case where the OrgDb comes from AnnotationHub.

This includes rice for example. The issue is with OrgDb not having translations from EntrezIDs to GO terms ~75% of the input EntrezIDs do not map to GO terms through this method.
Since the OrgDb object does not have a ens

[2021-05-11 10:50] lshep commented on #23
The OrgDb's in AnnotationHub are generated from NCBI data.  The main function used for generation comes from AnnotationForge::prepareDataFromNCBI .

[2021-07-25 16:27] mikecuoco opened #26 "Fetching RepeatMasker Files with AnnotationHub"
I am hoping to integrate your great tool into my repetitive element analysis pipeline, but it seems like some  RepeatMasker files (hosted at UCSC) are missing from the cache. Namely, the hg38 repeatmasker file. Would it be possible to add `hgdownload.cse.ucsc.edu/goldenpath/hg38/database/rmsk.txt.gz` to the cache?

[2021-08-04 13:59] lshep commented on #26
I apologize for the delayed response.  AnnotationHub is mosty a Bioconductor user contributed resource.  If you would like those included I suggest creating a package, or implementing in the package already in creation, to add the data to the hubs yourself.

[2021-08-04 13:59] #26 closed

[2021-10-03 07:49] BaylieRW opened #27 "Non-descriptive error"
snapshotDate(): 2021-05-18

         myhub_id fetch_id                     title rdataclass status biocversion rdatadateadded rdatadateremoved
288111 AH72154    78900 org.Salmo_salar.eg.sqlite      OrgDb Public         3.9     2019-05-02             <NA>
       file_size
288111 161341440

Error: Public

Hiya, the db is present as can be seen above, but I'm not sure what this error message means?

[2021-10-05 12:40] lshep commented on #27
sorry. yes I need to improve the error warnings for org packages.  orgDb packages are updated per release so likely the orgDb that you wish to access is too old for your version of R/Bioconductor.  which if we query for your species, indeed there are more recent versions with more accurate information
[code]

[2021-10-08 10:38] BaylieRW commented on #27
Thank you! I was just trying to run a script provided in a 2021 paper  to replicate the methods - didn’t think about that it was probably carried out much prior to 2021! My fault!

________________________________
From: lshep ***@***.***>
Sent: 05 October 2021 13:40
To: Bioconductor/AnnotationHub ***@***.***>
Cc: BaylieRW ***@***.***>; Author ***@***.***>
Subject: Re: [Bioconductor/AnnotationHub]

[2021-10-13 15:52] vjcitn opened #28 "vignette inaccuracy"
https://github.com/Bioconductor/AnnotationHub/blob/09fb82f71525dc72844bd82da3ea07f70b99ad42/vignettes/AnnotationHub.Rmd#L235

I can't get that to work, although the vignette exists on landing page

[2021-10-13 15:54] #28 closed, assigned to nobody

[2021-11-24 18:16] cvanderaa opened #29 "QFeatures has been fixed"
Hello,

The exception that has been hardcoded for `QFeatures` objects should no longer be needed since `QFeatures>=1.5.2` (https://github.com/rformassspectrometry/QFeatures/commit/1558b0561b7997f1f222629180a5a3d02ff58d63).

cf https://github.com/Bioconductor/AnnotationHub/commit/add08877fc393b6270d0e33be960f6a8c9db5859

Sorry for the inconvenience.

[2021-11-30 17:07] hpages commented on #29
Hardcoded exception removed in AnnotationHub 3.3.7 (commit 5f03a3c7e77530f02d0202556f808f3a6e766eb4). Thanks @cvanderaa.

[2021-11-30 17:07] #29 closed

[2021-12-22 22:47] svenbioinf opened #30 "Adding/updating additional annotation data"
Hi AnnotationHub Team,

thank you for providing such easy access to all of this annotation data!

while browsing AnnotationHub I noticed the GRanges annotation for CpG islands is listed for hg19 but not for hg38.
see:

ah->AnnotationHub()
q=query(ah, c("GRanges","Homo sapiens", "CpG"))
mcols(q)

Also the Ensembl regulatory build seems to be missing.
(https://www.ensembl.org/info/genome/funcgen/reg

[2022-01-16 22:16] daler opened #31 "permission denied on lock file when using AnnotationHub cache"
We typically set the AnnotationHub cache to be local to a project. This lets any user with access to the directory run the code and use the same cache. This was definitely working in 2.22.0.

In 3.2.0 (but possibly earlier versions, I haven't looked closely), this is no longer possible. I think it's due to a lockfile remaining around.

The quick test to reproduce the issue is this:

[code]

The la

[2022-01-19 16:41] lshep commented on #31
@daler Can you provide the `sessionInfo()`  too so we know the version of BiocFileCache being utilized in the backend

[2022-01-19 17:03] daler commented on #31
Sure, here it is:

[code]

[2022-01-19 17:04] lshep commented on #31
@daler  Could you also try manually changing the permissions of the LOCK file to rw for the group to see if that allows access?

[2022-01-19 17:12] daler commented on #31
Yes, I confirmed that changing permissions does allow access to user2. However the database itself (`BiocFileCache.sqlite`) is still read-only for group so I get an error when trying to access a resource.

E.g., as user2 I'm able to create an `AnnotationHub` object after fixing the LOCK file permissions but when trying to get a resource:

[code]

So if I also change the permissions of the database

[2022-01-19 18:01] lshep commented on #31
@daler I'm hesitant to apply the fix (in BiocFileCache) to happen automatically for both the LOCK and sqlite file.  Reasoning: different organizations/institutions may not want all users of a group to be able to download resources at will and may want the more restrictive access of read-only.  Do you think automatically changing the permissions of the LOCK file in BiocFileCache to allow read acces

[2022-01-19 18:50] daler commented on #31
Sure, that makes sense and I think that would be fine. Would you consider exposing permission configuration via AnnotationHub arguments? Regardless, a note in the vignette[s] would be helpful.

I guess I'm not clear on the LOCK file though -- in other contexts, lock files mean that someone else is using the resource but then it is cleaned up when they're done using it. In this instance, should use

[2022-01-19 18:59] lshep commented on #31
we use the filelock package to control the locking and based on our experience the file remains after unlocking and access controlled by who is locking at any given time.

[2022-01-19 19:26] daler commented on #31
OK, reading up on the lockfile package it looks to be using `fcntl` on the special lock file, so it's not the presence/absence of the file itself that is determining the lock. Changing the permissions to be 660 should still allow locks to work.

The question is though whether the permissions 660 should *always* be applied. As you point out, different users will have different needs. The current 60

[2022-01-19 19:33] lshep commented on #31
It might be best for that.  I can add the instructions for this case in the vignettes so its more readily available and known.

[2022-01-20 14:32] #31 closed

[2022-03-02 15:15] mjsteinbaugh commented on #1
Circling back, I'm still seeing this error intermittently with my code that queries AnnotationHub via `AnnotationHub::query()`. Here's an updated stack trace:

[code]

[code]

[2022-03-02 17:04] lshep commented on #1
hmmm...  again tough to debug since its intermittent as I just tried running and did not get an error.  What is your `sessionInfo()`

[2022-03-02 17:14] lshep commented on #1
@jorainer let me know if you have any thoughts as well.  It looks like the resource that is being retrieved is an EnsDb object.  Internally the hubs call  `ensembldb::EnsDb()`

[2022-03-02 18:53] mjsteinbaugh commented on #1
@lshep Sure thing, here's my current session info:

[code]

[code]

[2022-03-03 13:57] jorainer commented on #1
Hm, I can have a look at the code - but I also randomly get this message in R - sometimes unrelated to `EnsDb`s or `TxDb`s but just while working with SQLite databases.

If I'm not wrong `EnsDb` and `TxDb` databases open the SQLite connection, but maybe never close it? Maybe that could be related to this issue? I'm also wondering what happens with the database connection if the variable/`EnsDb` ge

[2022-03-23 08:51] hpages commented on #1
@jorainer You might want to check `?reg.finalizer`. Can't remember if something like this is used for TxDb objects.

[2022-06-14 06:33] jo-ong opened #33 "Issue with executing AnnotationHub()"
Installing and loading the library seems to be ok but I cannot use the library at all. I even open an new R session and yet the error is the same, please help. Below are the error and the session information.

Error in overscope_eval_next(overscope, x) :
  could not find function "overscope_eval_next"
Error in overscope_clean(overscope) :
  could not find function "overscope_clean"

'getOption("re

[2022-06-14 12:07] lshep commented on #33
Is there a way to update your version of R and Bioconductor?  R 3.6 is 3 years old now so there have been many updates. AnnotationHub has also had many changes and is on version 3.4.0 in the latest 3.15 release of Bioconductor?

From a quick google search it looks like it might be an issue with R package dplyr / rlang updates
https://www.rdocumentation.org/packages/rlang/versions/0.2.2/topics/as_o

[2022-06-16 03:13] jo-ong commented on #33
Thanks! Upgraded both R and Bioconductor and it works. Didn't want to upgrade before due to earlier issue with new R version with the Introduction to Bioconductor course syllables. Thanks for the help.

[2022-06-16 03:13] #33 closed

[2022-10-13 12:44] KMS-Rock opened #35 ""reason: this db is of type Inparanoid8Db but this is not a defined class""
Hi,
I need to retrieve database **AH10587** from hub which belongs to Streptomyces coelicolor, but it shows **"reason: this db is of type Inparanoid8Db but this is not a defined class".** Although data provider function recognize Inparanoid as class. Please suggest.
Thanks

[2022-10-13 12:46] lshep commented on #35
Thank you. I saw your email on the maintainer@bioconductor.org.  I will look into it.

[2022-10-13 12:48] KMS-Rock commented on #35
Dear Ishep,
Thanks for your prompt and kind response.
Regards

[2022-10-18 08:05] KMS-Rock commented on #35
Dear Ishep,
Kindly inform me here whenever you find something fixed with (Org.Sco.eg.db) or annotation hub, I'll be waiting for your response.
Thanks

[2022-10-18 15:10] KMS-Rock commented on #35
Dear Ishpe,
Thanks a lot for the information and given link. its really a great help, I have downloaded the SQLITE file manually, although it is not executable in the clusterprofiler, which requires a database like (org.Sco.eg.db) for which I wrote to maintainer@bioconductor, I request is there any update about **org.Sco.eg.db** ? I am new to R might be I missing about using SQLite files. kindly s

[2022-10-22 11:57] KMS-Rock commented on #35
Dear Ishep
Through file you shared I tried to get database from following function

library(AnnotationDbi)  ## if not already loaded
txdb <- loadDb("/locationToFile/mytxdb.sqlite")

but it still through same error "Error in .attach_supporting_pkg(conn, db_type) :
  this db is of type Inparanoid8Db but this is not a defined class"

even I removed "inp8"  from downloaded file but didn't work.

Looki

[2022-10-24 11:48] lshep commented on #35
Do not load with the AnnotationDbi::loadDb,  you would have to load it with a different sqlite load method which is why I suggest RSQLite

[2022-10-24 12:42] KMS-Rock commented on #35
Thanks for your comment.
I tried but it shows "database disk image is malformed"

trying URL 'https://bioconductorhubs.blob.core.windows.net/annotationhub/inparanoid8/Orthologs/hom.Streptomyces_coelicolor.inp8.sqlite'
Content type 'binary/octet-stream' length 5018624 bytes (4.8 MB)
downloaded 4.8 MB

Warning message:
Couldn't set synchronous mode: **database disk image is malformed**
Use `synchron

[2022-10-24 12:47] lshep commented on #35
That is very odd as it does not for me

[code]

What is your `sessionInfo()`

[code]

[2022-10-24 12:51] KMS-Rock commented on #35
R version 4.2.1 (2022-06-23 ucrt)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19044)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.utf8  LC_CTYPE=English_United States.utf8
[3] LC_MONETARY=English_United States.utf8 LC_NUMERIC=C
[5] LC_TIME=English_United States.utf8

attached base packages:
[1] stats4    stats     graphics  grDevices ut